/* *{
    text-align: center;
 } */
body{
    background-image: url("/31686167.jpg")  ;
    background-repeat: no-repeat  ;
    background-attachment:fixed ;
    background-size: cover ;
    background-position:center ;
}
    #myName{
    font-style: oblique;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(0, 0, 0);
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pitch{
    border: rgb(146, 146, 146);
    width: 16%;
    text-align: center;
    border-style:solid ;
    border-radius: 20px;
    /* margin:auto; */
    /* outline: 4px solid black; */
    /* padding-left: 84px;
    padding-right: 54px; */
    
}
.pitch a{
    text-decoration:none;
    /* letter-spacing: 0px; */
}
.hello{
    text-align: center;
}



